DB_URL=mongodb://127.0.0.1:27017/yourtube
PORT=5000
BACKEND_URL=http://localhost:5000

RAZORPAY_KEY_ID=rzp_test_xxxxx
RAZORPAY_KEY_SECRET=xxxx

TWILIO_ACCOUNT_SID=ACxxxx
TWILIO_AUTH_TOKEN=xxxx
TWILIO_PHONE_NUMBER=+1xxxxxxxxxx
DEFAULT_NON_SOUTH_TEST_MOBILE=+918838733794

SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_16_char_app_password
